
services:
  user-service:
    build: ./user-service
    ports: 
      - "5000:5000"
    depends_on:
      - consul
    environment:
      - SERVICE_NAME=user-service
      - SERVICE_PORT=5000
    networks:
      - app-network
  
  product-service:
    build: ./product-service
    ports:
      - "5002:5002"
    depends_on:
      - consul
    environment:
      - SERVICE_NAME=product-service
      - SERVICE_PORT=5002

    networks:
      - app-network
  
  consul:
    image: hashicorp/consul:1.17.2
    ports:
      - "8500:8500"
    command: agent -dev -client=0.0.0.0
    networks:
      - app-network
  gateway:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - user-service
      - product-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge